<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>

    <div class="container main">
      <div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-1">
	  <img class="img-responsive img-rounded" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" width="200">
	  <h4>Yijun Xiao (肖逸君)</h4>
	  <p>Ph.D. Student in Computer Science<br/>
	    UC Santa Barbara</p>
	  <br/>
	  <h5>Contact</h5>
	  <p>Email: <a href="mailto:yijunxiao@cs.ucsb.edu">yijunxiao@cs.ucsb.edu</a><br/>
	    Address: 3530 Phelps Hall, UCSB</p>
	  <br/>
	  <h5>Links</h5>
	  <p><a href="https://github.com/yjxiao">Github</a><br/>
	    <a href="https://scholar.google.com/citations?user=pPYKiRQAAAAJ&hl=en&authuser=2&oi=ao">Google Scholar</a><br/>
	    <a href="http://nlp.cs.ucsb.edu">UCSB NLP</a></p>
	</div>
	<div class="col-xs-12 col-md-7">
	  {{ content }}
	</div>
      </div>
      {%- include footer.html -%}
    </div>
  </body>

</html>
